<section class="todoapp">
  <header class="header">
    <input
      class="new-todo"
      autocomplete="off"
      testId="add-new-item-input"
      placeholder="Type your todo list"
      [formControl]="taskInput"
      (keydown.enter)="addTodo()"
    />
    <button
      testId="add-new-item-btn"
      class="new-todo-button"
      (click)="addTodo()"
      *ngIf="taskInput.value?.length"
    ></button>
  </header>
  <section class="main" *ngIf="todos().length">
    <div class="completed-wrapper">
      <input
        id="toggle-all"
        class="toggle-all"
        type="checkbox"
        [formControl]="toggleAll"
        (change)="toggleCompleteAll()"
      />
      <label for="toggle-all" testId="complete-all">Complete all tasks</label>
      <button class="clear-completed" (click)="clearCompletedTasks()" testId="clear-completed">
        Clear completed
      </button>
    </div>
    <ul class="todo-list">
      @for (todo of todos(); track todo.id; let indx = $index) {
      <li
        testId="todo-item-{{indx}}"
        class="todo"
        [class.completed]="todo.isCompleted"
        [class.editing]="todo.isEditing"
        (dblclick)="editTodoItem(todo)"
      >
        <div class="view">
          <input
            class="toggle"
            type="checkbox"
            [checked]="todo.isCompleted"
            (change)="toggleTodo(todo.id)"
          />
          <label>{{ todo.value }}</label>
          <button class="destroy" (click)="removeTodo(todo.id)"></button>
        </div>
        <input
          *ngIf="todo.isEditing"
          class="edit"
          type="text"
          hzFocus
          [formControl]="editInput"
          (keydown.esc)="removeEditor()"
          (keydown.enter)="updateTodo(todo.id)"
        />
      </li>
      }
    </ul>
  </section>
  <footer class="footer" *ngIf="todos().length">
    <span class="todo-count">
      <strong>{{ todos().length }}</strong> items
    </span>
  </footer>
</section>
